{{define "Head"}}
    <script src="/static/Dropdown.js" type="module"></script>
    <script src="/static/ToggleBtn.js" type="module"></script>
    <title>Pro job creation</title>
{{end}}
%end
{{define "Style"}}
    .title{
        font-size: 1.2rem;
    }
    .template{
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
        align-items: center;
        margin-bottom: .5rem;
    }
    .newjob, .title, .newjob_section{ 
        > *{
            margin-bottom: .5rem;
        }
        .flex{
            display: flex;
            gap: .3rem;
            position: relative;
        }
        .subheader{
            font-size: 1rem;
        }
        .field{
            position: relative;
            height: 2.5rem;
            width: 100%;
            .label{
                position: absolute;
                left: 5px;
                top: .5rem;
                font-weight: bold;
                font-size: .9rem;
                transition: all .2s linear;
            }
            .input{
                height: 100%;
                width: 100%;
                padding: 0 5px;
                border-radius: 5px;
                background-color: white;
                border: 1px solid lightgray;
                &:focus + .label, &:valid + .label{
                    top: .2rem;
                    left: 5px;
                    font-size: .7rem;
                }
            }
            .withLabel{
                padding: 10px 5px 0px 5px;
            }

        }
        .description{
            border-radius: 5px;
            outline: 1px solid lightgray;
            padding: 5px;
            text-wrap: wrap;
            background-color: white;
        }
    }
    .deleteBtn{
        height: 2rem;
        width: 2rem;
        border: 1px solid lightgray;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .addBtn{
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid lightgray;
    }
    .newjob_section{
        border: 1px solid lightgray;
        padding: 5px;
        border-radius: 5px;
        .headerWithButton{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .advantage{
            display: grid;
            grid-template-columns: 1fr .1fr;
            gap: .5rem;
            .input{
                height: 100%;
                width: 100%;
                padding: 0 5px;
                border-radius: 5px;
                background-color: white;
                border: 1px solid lightgray;
            }
        }
        .profile{
            display: grid;
            gap: .5rem;
            grid-template-columns: 1fr .3fr .2fr;
            .header{
                font-size: .9rem;
            }
            
            .input{
                height: 100%;
                width: 100%;
                padding: 0 5px;
                border-radius: 5px;
                background-color: white;
                border: 1px solid lightgray;
            }
        }
    }

    .newjob_submitBtn, .newjob_templateBtn{
        height: 2rem;
        border-radius: 10px;
        width: 100%;
    }
    .newjob_submitBtn{
        background-color: var(--primary_color);
    }
    .newjob_templateBtn{
        border: 2px solid var(--primary_color);
    }
    #addr{
        position: absolute;
        top: 2.9rem;
        z-index: 1;
        background-color: lightgray;
        width: 100%;
        border-radius: 5px;
    }
    .addr_item{
        height: 2rem;
        display: flex;
        align-items: center;
        padding: 0 .5rem;
    }
    .addr_item:hover{
        background-color: darkgray;
    }
    
{{end}}
%end
{{define "Body"}}
    <main onclick="onMainClick(event)">
        <h1 class="title">Nouvelle Offre</h1>
        <div class="template">
            <h2 class="subheader">Modèle</h2>
            <dropdown-ele height="2rem" id="template" array="{{.Templates}}"></dropdown-ele>
        </div>
        <form class="newjob" hx-post="/job/creer" hx-ext="json-enc" hx-swap="none" id="offert" hx-vals='js:{...getValues()}' onsubmit="onSubmitForm()" >
            <div class="field">
                <input type="text" autocomplete="off" required id="title" onchange="onSaveSnapshot(this)"  name="title" class="input withLabel" />
                <label for="title" class="label">Titre</label>
            </div>
            <div class="flex">
                <div class="field" style="flex: 1;">
                    <input type="text" autocomplete="off" placeholder="Paris" id="city" name="city" class="input withLabel" oninput="onCityInput(this)" onchange="onSaveSnapshot(this)"/>
                    <label for="city" class="label">Departement</label>
                </div>
                <div class="field" style="flex: .3;">
                    <input type="number" autocomplete="off" placeholder="75001" id="postal" name="postal" class="input withLabel" onchange="onSaveSnapshot(this)" />
                    <label for="adresse" class="label">Postal</label>
                </div>
                <div id="addr" >
                </div>
            </div>
            <h2 class="subheader">Salaire</h2>
            <div class="flex">
                <div class="field">
                    <input type="number" placeholder="1500" step=".01"  id="minSalary" class="input salary withLabel" onchange="onSaveSnapshot(this)" />
                    <label for="minSalary" class="label">Min</label>
                </div>
                <div class="field">
        
                    <input type="number" placeholder="2000" step=".01" id="maxSalary" class="input salary withLabel" onchange="onSaveSnapshot(this)" />
                    <label for="maxSalary" class="label">Max</label>
                </div>
            </div>
            <h2 class="subheader">Contrat</h2>
            <div class="flex">
                <dropdown-ele id="contract" array="{{.Contract}}"></dropdown-ele>
                <div class="field">
                    <input type="number" placeholder="35" id="weeklyWorkTime" name="weeklyWorkTime" class="input withLabel" onchange="onSaveSnapshot(this)" />
                    <label for="weeklyWorkTime" class="label">Heures</label>
                </div>
                <div class="field">
                    <input type="date" placeholder="2000" id="startDate" name="startDate" class="input withLabel" onchange="onSaveSnapshot(this)" />
                    <label for="startDate" class="label">Debut</label>
                </div>
            </div>
            <h2 class="subheader">Description</h2>
            <div class="description" contenteditable="true" onblur="onSnapshotDescription(this)"></div>
            <div class="newjob_section" id="advantage">
                <div class="headerWithButton">
                    <h2 class="subheader">Avantages</h2>
                    <button type="button" class="addBtn" onclick="onNewAdvantage(this)">
                        <svg
                            width="63.999996"
                            height="63.999996"
                            style="width: 60%;height: 60%;"
                            viewbox="0 0 16.933332 16.933332">
                            <g
                                transform="translate(-49.871622,-101.59117)">
                            <rect
                                style="fill:#000000;stroke-width:0.0701647"
                                id="rect113"
                                width="2.6458337"
                                height="15.875"
                                x="108.73493"
                                y="-66.275787"
                                ry="1.3229169"
                                transform="rotate(90)" />
                            <rect
                                style="fill:#000000;stroke-width:0.0701647"
                                id="rect273"
                                width="2.6458337"
                                height="15.875"
                                x="57.015373"
                                y="102.12034"
                                ry="1.3229169" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="newjob_section" id="skill"> 
                <div class="headerWithButton">
                    <h2 class="subheader">Compétances</h2>
                    <button type="button" class="addBtn" onclick="onNewProfil(this)">
                        <svg
                            width="63.999996"
                            height="63.999996"
                            style="width: 60%;height: 60%;"
                            viewbox="0 0 16.933332 16.933332">
                            <g
                                transform="translate(-49.871622,-101.59117)">
                            <rect
                                style="fill:#000000;stroke-width:0.0701647"
                                id="rect113"
                                width="2.6458337"
                                height="15.875"
                                x="108.73493"
                                y="-66.275787"
                                ry="1.3229169"
                                transform="rotate(90)" />
                            <rect
                                style="fill:#000000;stroke-width:0.0701647"
                                id="rect273"
                                width="2.6458337"
                                height="15.875"
                                x="57.015373"
                                y="102.12034"
                                ry="1.3229169" />
                            </g>
                        </svg>
                    </button>
                </div>
                <div class="profile">
                    <h3 class="header">Titre</h3>
                    <h3 class="header">Nécessaire</h3>
                    <h3></h3>
                </div>
            </div>
            <button type="submit" class="newjob_submitBtn" >Creer</button>
        </form>
    </main>
    <script>
        let requestAddr 

        window.addEventListener("load", ()=>{
            savedSnapshotIntoFields()
            const template = document.querySelector("#template .dropdown_display")
            template.addEventListener("valueChange", ()=>{
                htmx.ajax("PUT", "/job/creer", {values: {"template": template.dataset.id}, swap: "outerHTML", target: "#offert"})
            })
        })

        const onSubmitForm = ()=>{
            localStorage.removeItem("jobSnapshot")
        }

        const onNewProfil = (ele)=>{
            const skillContainer = ele.closest("#skill")
            const newProfile = document.createElement("div")
            newProfile.classList.add("profile", "skill")
            newProfile.innerHTML = `
                <input type="text" autocomplete="off"  placeholder="Experience 2 ans"  class="input" />
                <toggle-btn on="false"></toggle-btn>
                <button type="button" onclick="onDeleteProfil(this)"  class="deleteBtn">
                    <svg
                        width="63.999996"
                        height="63.999996"
                        style="width: 60%;height: 60%;"
                        viewBox="0 0 16.933332 16.933332">
                        <g
                            transform="translate(-51.903267,-103.62282)">
                            <rect
                                style="fill:#000000;stroke-width:0.0928013"
                                width="3.4994376"
                                height="20.996624"
                                x="120.19751"
                                y="26.072937"
                                ry="1.7497188"
                                transform="rotate(45)" />
                            <rect
                                style="fill:#000000;stroke-width:0.0928013"
                                id="rect273"
                                width="3.4994376"
                                height="20.996624"
                                x="-38.320965"
                                y="111.44891"
                                ry="1.7497188"
                                transform="rotate(-45)" />
                        </g>
                    </svg>
                </button>
            `
            skillContainer.appendChild(newProfile)
        }

        const onDeleteProfil = (ele)=>{
            ele.parentElement.remove()
        }

        const onDeleteAdvantage = (ele)=>{
            ele.closest(".advantage").remove()
            const snapshot = JSON.parse(localStorage.getItem("jobSnapshot"))
            const filter = snapshot.advantage.filter(item=>item != ele.previousElementSibling.value)
            snapshotIntoLocalstorage("advantage", filter)
        }

        const onNewAdvantageByKey = (ev)=>{
            ev.stopPropagation()
        }

        const onNewAdvantage = (ele)=>{
            const advantageContainer = ele.closest("#advantage")
            const newAdvantage = document.createElement("div")
            newAdvantage.classList.add("advantage")
            newAdvantage.innerHTML = `
                <input type="text" autocomplete="off" placeholder="Titre de transport" name="advantage" class="input advantage" onchange="onSaveAdvantageSnapshot()" onkeyup="onNewAdvantageByKey(event)" />
                <button type="button" class="deleteBtn" onclick="onDeleteAdvantage(this)">
                    <svg
                        width="63.999996"
                        height="63.999996"
                        style="width: 60%;height: 60%;"
                        viewBox="0 0 16.933332 16.933332">
                        <g
                            transform="translate(-51.903267,-103.62282)">
                            <rect
                                style="fill:#000000;stroke-width:0.0928013"
                                width="3.4994376"
                                height="20.996624"
                                x="120.19751"
                                y="26.072937"
                                ry="1.7497188"
                                transform="rotate(45)" />
                            <rect
                                style="fill:#000000;stroke-width:0.0928013"
                                id="rect273"
                                width="3.4994376"
                                height="20.996624"
                                x="-38.320965"
                                y="111.44891"
                                ry="1.7497188"
                                transform="rotate(-45)" />
                        </g>
                    </svg>
                </button>
            `
            advantageContainer.appendChild(newAdvantage)
        }
        const onSaveAdvantageSnapshot = ()=>{
            const allAdvantage = document.getElementsByClassName("advantage")
            const advList = []
            for (const adv of allAdvantage){
                if (!value) continue
                advList.push(adv.value)
            }
            snapshotIntoLocalstorage("advantage", advList)
        }

        const onCityInput = (ele)=>{
            const addrPopover = document.getElementById("addr")
            clearTimeout(requestAddr)
            requestAddr = setTimeout(async ()=>{
                let innerHtml = ""
                if(ele.value !== ""){
                    const fetchAddr = await fetch(`https://api-adresse.data.gouv.fr/search/?q=${ele.value}&type=municipality&limit=5`)
                    const jsonAddr = await fetchAddr.json()
                    if (fetchAddr.status === 200){
                        for(p of jsonAddr.features){
                            innerHtml += `<p class="addr_item" data-lat="${p.geometry.coordinates[1]}" data-long="${p.geometry.coordinates[0]}" onclick="onChosenAddr(this)">${p.properties.name}, ${p.properties.postcode}</p>` 
                        }
                        addrPopover.style.display = "block"
                        addrPopover.innerHTML = innerHtml
                    }
                }
            }, 500)
        }
        const onChosenAddr = (ele)=>{
            const addrPopover = document.getElementById("addr")
            const city = document.getElementById("city")
            const postal = document.getElementById("postal")
            const [cityValue, postalValue] = ele.textContent.split(",")
            city.value = cityValue
            city.dataset.lat = ele.dataset.lat
            city.dataset.long = ele.dataset.long
            postal.value = postalValue.trim()
            addrPopover.style.display = "none"
            snapshotIntoLocalstorage(city.id, cityValue)
            snapshotIntoLocalstorage(postal.id, postalValue.trim())
            snapshotIntoLocalstorage('lat', ele.dataset.lat)
            snapshotIntoLocalstorage('long', ele.dataset.long)
        }
        const onMainClick = (e)=>{
            const addrPopover = document.getElementById("addr")
            if (e.target.parentElement.id !== "addr"){
                addrPopover.style.display = "none"
            }
        }

        const onSnapshotDescription = (ele)=>{
            snapshotIntoLocalstorage("description", ele.innerText)
        }

        const onSaveSnapshot = (e)=>{
            snapshotIntoLocalstorage(e.id, e.value)
        }

        const snapshotIntoLocalstorage = (name, value)=>{
            if(!value) return
            let snapshot = {title: "", description: "", postal: "", city: "", advantage: [], minSalary: "", maxSalary: "", contract: "", weeklyWorkTime: ""}
            const snapshotFromStorage = JSON.parse(localStorage.getItem("jobSnapshot"))
            if (snapshotFromStorage){
                snapshot = snapshotFromStorage
            }    
            snapshot[name] = value
            localStorage.setItem("jobSnapshot", JSON.stringify(snapshot))
        }
        const savedSnapshotIntoFields = ()=>{
            const snapshot = JSON.parse(localStorage.getItem("jobSnapshot"))
            if (!snapshot) return
            const advantageContainer = document.getElementById("advantage")
            const city = document.getElementById("city")
            const startDate = document.getElementById("startDate")
            const postal = document.getElementById("postal")
            const title = document.getElementById("title")
            const description = document.querySelector(".description")
            const weeklyWorkTime = document.getElementById("weeklyWorkTime")
            city.value = snapshot.city
            city.dataset.lat = snapshot.lat
            city.dataset.long = snapshot.long
            title.value = snapshot.title
            description.innerText = snapshot.description
            postal.value = snapshot.postal
            startDate.value = snapshot.startDate
            minSalary.value = snapshot.minSalary
            maxSalary.value = snapshot.maxSalary
            weeklyWorkTime.value = snapshot.weeklyWorkTime
            for(adv of snapshot.advantage){
                const newAdvantage = document.createElement("div")
                newAdvantage.classList.add("advantage")
                newAdvantage.innerHTML = `
                    <input type="text" value="${adv}" autocomplete="off" placeholder="Titre de transport"  class="input advantage" onchange="onSaveAdvantageSnapshot()" />
                    <button type="button" class="deleteBtn" onclick="onDeleteAdvantage(this)">
                    <svg
                width="63.999996"
                height="63.999996"
                style="width: 60%;height: 60%;"
                viewBox="0 0 16.933332 16.933332">
                    <g
                transform="translate(-51.903267,-103.62282)">
                    <rect
                style="fill:#000000;stroke-width:0.0928013"
                width="3.4994376"
                height="20.996624"
                x="120.19751"
                y="26.072937"
                ry="1.7497188"
                transform="rotate(45)" />
                    <rect
                style="fill:#000000;stroke-width:0.0928013"
                id="rect273"
                width="3.4994376"
                height="20.996624"
                x="-38.320965"
                y="111.44891"
                ry="1.7497188"
                transform="rotate(-45)" />
                    </g>
                    </svg>
                    </button>
                    `
                advantageContainer.appendChild(newAdvantage)
            }
        }
        const getValues = ()=>{

            const city = document.getElementById("city")
            const description = document.querySelector(".description")
            const weeklyWorkTime = document.getElementById("weeklyWorkTime")
            const salary = document.getElementsByClassName('salary')
            const listOfSKill = document.getElementsByClassName("skill")
            const listOfAdvantage = document.querySelectorAll(".advantage > input")
            const salaryList = []
            const skillNeeded = []
            const advantageList = []
            try{
                for(const prof of listOfSKill){
                    const required = prof.getElementsByTagName("toggle-btn")[0].getAttribute("on") === "true" ? true : false 
                    const label = prof.querySelector(".input").value
                    skillNeeded.push({label, required})
                }
                for(const adv of listOfAdvantage){
                    advantageList.push(adv.value)
                }
            }catch(e){
                console.log(e)
            }
            for(const sal of salary){
                salaryList.push(parseFloat(sal.value))
            }
            localStorage.removeItem("jobSnapshot")
            return {
                salary: salaryList, 
                weeklyWorkTime: parseFloat(weeklyWorkTime.value), 
                skill: skillNeeded, 
                advantage: advantageList,
                description: description.innerText,
                lat: parseFloat(city.dataset.lat),
                long: parseFloat(city.dataset.long)
            }
        }
    </script>
{{end}}
%end

