{{define "Head"}}
    <script src="/static/ToggleBtn.js" type="module"></script>
    <script src="/static/Calendar.js" type="module"></script>
    <title>Pro job creation</title>
{{end}}
%end
{{define "Style"}}
.form{
    .form-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        .title{
            font-size: 1.4rem;
        }
    }
    .template{
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    .newjob{
        container: form / inline-size;
        counter-reset: section;
        .newjob-section{
            counter-increment: section;
            margin-bottom: 1.5rem;
            background: white;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid lightgray;
            &::before{
                font-size: 1rem;
                font-weight: bold;
                content: counter(section) ".";
            }
            .newjob-section-name{
                font-size: 1.2rem;
                display: inline-block;
                margin-bottom: 1rem;
            }
            .newjob-select-category{
                margin-bottom: 1rem;
                .select-element{
                    height: 2rem;
                    padding-inline: .5rem;
                    margin-right: 1rem;
                }
            }
            .newjob-flex-form{
                display: flex;
                column-gap: .8rem;
                position: relative;
            }
            .field{
                width: 100%;
                margin-bottom: 1rem;
                .label{
                    font-weight: bold;
                    margin-bottom: .5rem;
                    display: inline-block;
                }
                .input{
                    height: 2rem;
                    width: 100%;
                    padding: 0 5px;
                    border-radius: 5px;
                    background-color: white;
                    border: 1px solid lightgray;
                }

            }
            .subheader{
                margin-bottom: .5rem;
            }
            .description{
                border-radius: 5px;
                outline: 1px solid lightgray;
                padding: 5px;
                min-height: 1.5lh;
                text-wrap: wrap;
                background-color: white;
            }
            .newjob-time-date-field{
                display: flex;
                gap: .5rem;
                align-items: center;
                margin-bottom: .3rem;
            }
            .deleteBtn{
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .deleteIcon{
                    width: 80%;
                    height: 80%;
                }
            }
            .advantage{
                display: grid;
                grid-template-columns: 1fr .1fr;
                gap: .5rem;
                margin-bottom: 1rem;
                .input{
                    height: 100%;
                    width: 100%;
                    padding: 0 5px;
                    border-radius: 5px;
                    background-color: white;
                    border: 1px solid lightgray;
                }
            }
            .addBtn{
                height: 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: 2px dashed black;
                &::after{
                    content: "+";
                    border-radius: 50%;
                    height: 1rem;
                    aspect-ratio: 1/1;
                    border: 1px solid black;
                }
            }
            .profile{
                display: grid;
                gap: .5rem;
                grid-template-columns: 1fr .3fr .2fr;
                margin-bottom: 1rem;
                .header{
                    font-size: .9rem;
                }
                
                .input{
                    height: 100%;
                    width: 100%;
                    padding: 0 5px;
                    border-radius: 5px;
                    background-color: white;
                    border: 1px solid lightgray;
                }
            }
            @container form (width >= 950px){
                .newjob-time-date{
                    display: flex;
                    column-gap: .5rem;
                }
            }
        }
    }
}
    .newjob_submitBtn, .newjob_templateBtn{
        height: 2rem;
        border-radius: 10px;
        width: 100%;
    }
    .newjob_submitBtn{
        background-color: var(--primary_color);
    }
    .newjob_templateBtn{
        border: 2px solid var(--primary_color);
    }
    #addr{
        position: absolute;
        top: calc(100% - .5rem);
        z-index: 1;
        background-color: lightgray;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
    .addr_item{
        height: 2rem;
        display: flex;
        align-items: center;
        padding: 0 .5rem;
    }
    .addr_item:hover{
        background-color: darkgray;
    }
    
{{end}}
%end
{{define "Body"}}
    <main onclick="onMainClick(event)" class="form">
        <div class="form-header">
            <h1 class="title">Nouvelle Offre</h1>
            <div class="template">
                <h2 class="subheader">Modèle</h2>
                <dropdown-ele height="2rem" id="template" array="{{.Templates}}"></dropdown-ele>
            </div>
        </div>
        <form class="newjob" hx-post="/job/creer" hx-ext="json-enc" hx-swap="none" id="offert" hx-vals='js:{...getValues()}' onsubmit="onSubmitForm()" >
            <div class="newjob-section">
                <h2 class="newjob-section-name">General</h2>
                <div class="field">
                    <label for="title" class="label">Titre</label>
                    <input type="text" autocomplete="off" required id="title" onchange="onSaveSnapshot(this)"  name="title" class="input" hx-patch="/job/creer"
                    hx-params="title" hx-trigger="input delay:500ms" hx-ext="ignore:json-enc" hx-target="#subcategory" hx-swap="innerHTML" />
                </div>
                <div class="newjob-flex-form">
                    <div class="field" style="flex: 1;">
                        <label for="city" class="label">Departement</label>
                        <input type="text" autocomplete="off" placeholder="Paris" id="city" name="city" class="input " oninput="onCityInput(this)" onchange="onSaveSnapshot(this)"/>
                    </div>
                    <div class="field" style="flex: .3;">
                        <label for="adresse" class="label">Postal</label>
                        <input type="number" autocomplete="off" placeholder="75001" id="postal" name="postal" class="input " onchange="onSaveSnapshot(this)" />
                    </div>
                    <div id="addr" >
                    </div>
                </div>
                <div>
                    <h2 class="subheader">Description</h2>
                    <div class="description" contenteditable="true" onblur="onSnapshotDescription(this)"></div>
                </div>
            </div>
            <div class="newjob-section">
                <h3 class="newjob-section-name">Details</h3>
                <div style="display: flex;flex-wrap: wrap;">
                    <div class="newjob-select-category">
                        <h2 class="subheader">Categorie</h2>
                        <select id="category" name="category" class="select-element" hx-patch="/job/creer" hx-trigger="change" 
                            hx-target="#subcategory" hx-swap="innerHTML" hx-params="category" hx-ext="ignore:json-enc">
                            {{range .Category}}
                                <option value="{{.Id}}" id="category-{{.Id}}" >{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div id="subcategory" class="newjob-select-category">
                        
                    </div>
                </div>
                <div class="newjob-flex-form">
                    <div class="field">
                        <label for="minSalary" class="label">Salaire Min</label>
                        <input type="number" placeholder="1500" step=".01"  id="minSalary" class="input salary " onchange="onSaveSnapshot(this)" />
                    </div>
                    <div class="field">
                        <label for="maxSalary" class="label">Salaire Max</label>
                        <input type="number" placeholder="2000" step=".01" id="maxSalary" class="input salary " onchange="onSaveSnapshot(this)" />
                    </div>
                </div>
                <div class="newjob-flex-form" style="flex-wrap: wrap;justify-content: space-between;">
                    <div>
                        <h2 class="subheader">Contrat</h2>
                        <select name="contract">
                            {{range .Contract}}
                                <option value="{{.Id}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="field" style="width: 75px;">
                        <label for="weeklyWorkTime" class="label">Heures</label>
                        <input type="number" placeholder="35"  id="weeklyWorkTime" name="weeklyWorkTime" class="input" onchange="onSaveSnapshot(this)" />
                    </div>
                    <div class="field" style="width: 75px;">
                        <label for="exp" class="label">Experience</label>
                        <input type="number" placeholder="2" id="exp" name="exp" class="input " onchange="onSaveSnapshot(this)" />
                    </div>
                    <div>
                        <h3 class="subheader">Duré</h3>
                        <div class="newjob-time-date">
                            <div class="newjob-time-date-field">
                                <p>Du</p>
                                <calendar-ele></calendar-ele>
                            </div>
                            <div class="newjob-time-date-field">
                                <p>AU</p>
                                <calendar-ele></calendar-ele>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newjob-section" id="advantage">
                <h2 class="newjob-section-name">Avantages</h2>
                <button type="button" class="addBtn" onclick="onNewAdvantage(this)"></button>
            </div>
            <div class="newjob-section" id="skill"> 
                <h2 class="newjob-section-name">Compétances</h2>
                <div class="profile">
                    <h3 class="header">Titre</h3>
                    <h3 class="header">Nécessaire</h3>
                    <h3></h3>
                </div>
                <button type="button" class="addBtn" onclick="onNewProfil(this)"></button>
            </div>
            <button type="submit" class="newjob_submitBtn" >Creer</button>
        </form>
    </main>
    <script>
        let requestAddr 

        const trashIcon = `
            <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="800px" height="800px" viewBox="0 0 41.336 41.336" class="deleteIcon"
                     xml:space="preserve">
            <g>
                    <path d="M36.335,5.668h-8.167V1.5c0-0.828-0.672-1.5-1.5-1.5h-12c-0.828,0-1.5,0.672-1.5,1.5v4.168H5.001c-1.104,0-2,0.896-2,2
                            s0.896,2,2,2h2.001v29.168c0,1.381,1.119,2.5,2.5,2.5h22.332c1.381,0,2.5-1.119,2.5-2.5V9.668h2.001c1.104,0,2-0.896,2-2
                            S37.438,5.668,36.335,5.668z M14.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21c0-0.828,0.672-1.5,1.5-1.5
                            s1.5,0.672,1.5,1.5V35.67z M22.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21c0-0.828,0.672-1.5,1.5-1.5
                            s1.5,0.672,1.5,1.5V35.67z M25.168,5.668h-9V3h9V5.668z M30.168,35.67c0,0.828-0.672,1.5-1.5,1.5s-1.5-0.672-1.5-1.5v-21
                            c0-0.828,0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5V35.67z"/>
            </g>
            </svg
        `
        window.addEventListener("load", ()=>{
            savedSnapshotIntoFields()
            const template = document.querySelector("#template .dropdown_display")
            template.addEventListener("valueChange", ()=>{
                htmx.ajax("PUT", "/job/creer", {values: {"template": template.dataset.id}, swap: "outerHTML", target: "#offert"})
            })
        })

        const onSubmitForm = ()=>{
            localStorage.removeItem("jobSnapshot")
        }

        const onNewProfil = (ele)=>{
            const newProfile = document.createElement("div")
            newProfile.classList.add("profile", "skill")
            newProfile.innerHTML = `
                <input type="text" autocomplete="off"  placeholder="Experience 2 ans"  class="input" />
                <toggle-btn on="false"></toggle-btn>
                <button type="button" onclick="onDeleteProfil(this)"  class="deleteBtn">${trashIcon}</button>
            `
            ele.insertAdjacentElement('beforebegin', newProfile)
        }

        const onDeleteProfil = (ele)=>{
            ele.parentElement.remove()
        }

        const onDeleteAdvantage = (ele)=>{
            ele.closest(".advantage").remove()
            const snapshot = JSON.parse(localStorage.getItem("jobSnapshot"))
            const filter = snapshot.advantage.filter(item=>item != ele.previousElementSibling.value)
            snapshotIntoLocalstorage("advantage", filter)
        }

        const onNewAdvantageByKey = (ev)=>{
            ev.stopPropagation()
        }

        const onNewAdvantage = (ele)=>{
            const newAdvantage = document.createElement("div")
            newAdvantage.classList.add("advantage")
            newAdvantage.innerHTML = `
                <input type="text" autocomplete="off" placeholder="Titre de transport" name="advantage" class="input advantage" onchange="onSaveAdvantageSnapshot()" onkeyup="onNewAdvantageByKey(event)" />
                <button type="button" class="deleteBtn" onclick="onDeleteAdvantage(this)">${trashIcon}</button>
            `
            ele.insertAdjacentElement('beforebegin', newAdvantage)
        }
        const onSaveAdvantageSnapshot = ()=>{
            const allAdvantage = document.getElementsByClassName("advantage")
            const advList = []
            for (const adv of allAdvantage){
                if (!value) continue
                advList.push(adv.value)
            }
            snapshotIntoLocalstorage("advantage", advList)
        }

        const onCityInput = (ele)=>{
            const addrPopover = document.getElementById("addr")
            clearTimeout(requestAddr)
            requestAddr = setTimeout(async ()=>{
                let innerHtml = ""
                if(ele.value !== ""){
                    const fetchAddr = await fetch(`https://api-adresse.data.gouv.fr/search/?q=${ele.value}&type=municipality&limit=5`)
                    const jsonAddr = await fetchAddr.json()
                    if (fetchAddr.status === 200){
                        for(p of jsonAddr.features){
                            innerHtml += `<p class="addr_item" data-lat="${p.geometry.coordinates[1]}" data-long="${p.geometry.coordinates[0]}" onclick="onChosenAddr(this)">${p.properties.name}, ${p.properties.postcode}</p>` 
                        }
                        addrPopover.style.display = "block"
                        addrPopover.innerHTML = innerHtml
                    }
                }
            }, 500)
        }
        const onChosenAddr = (ele)=>{
            const addrPopover = document.getElementById("addr")
            const city = document.getElementById("city")
            const postal = document.getElementById("postal")
            const [cityValue, postalValue] = ele.textContent.split(",")
            city.value = cityValue
            city.dataset.lat = ele.dataset.lat
            city.dataset.long = ele.dataset.long
            postal.value = postalValue.trim()
            addrPopover.style.display = "none"
            snapshotIntoLocalstorage(city.id, cityValue)
            snapshotIntoLocalstorage(postal.id, postalValue.trim())
            snapshotIntoLocalstorage('lat', ele.dataset.lat)
            snapshotIntoLocalstorage('long', ele.dataset.long)
        }
        const onMainClick = (e)=>{
            const addrPopover = document.getElementById("addr")
            if (e.target.parentElement.id !== "addr"){
                addrPopover.style.display = "none"
            }
        }

        const onSnapshotDescription = (ele)=>{
            snapshotIntoLocalstorage("description", ele.innerText)
        }

        const onSaveSnapshot = (e)=>{
            snapshotIntoLocalstorage(e.id, e.value)
        }

        const snapshotIntoLocalstorage = (name, value)=>{
            if(!value) return
            let snapshot = {title: "", description: "", postal: "", city: "", advantage: [], minSalary: "", maxSalary: "", contract: "", weeklyWorkTime: ""}
            const snapshotFromStorage = JSON.parse(localStorage.getItem("jobSnapshot"))
            if (snapshotFromStorage){
                snapshot = snapshotFromStorage
            }    
            snapshot[name] = value
            localStorage.setItem("jobSnapshot", JSON.stringify(snapshot))
        }
        const savedSnapshotIntoFields = ()=>{
            const snapshot = JSON.parse(localStorage.getItem("jobSnapshot"))
            if (!snapshot) return
            const advantageContainer = document.getElementById("advantage")
            const city = document.getElementById("city")
            const startDate = document.getElementById("startDate")
            const postal = document.getElementById("postal")
            const title = document.getElementById("title")
            const description = document.querySelector(".description")
            const weeklyWorkTime = document.getElementById("weeklyWorkTime")
            city.value = snapshot.city
            city.dataset.lat = snapshot.lat
            city.dataset.long = snapshot.long
            title.value = snapshot.title
            description.innerText = snapshot.description
            postal.value = snapshot.postal
            minSalary.value = snapshot.minSalary
            maxSalary.value = snapshot.maxSalary
            weeklyWorkTime.value = snapshot.weeklyWorkTime
            for(adv of snapshot.advantage){
                const newAdvantage = document.createElement("div")
                newAdvantage.classList.add("advantage")
                newAdvantage.innerHTML = `
                    <input type="text" value="${adv}" autocomplete="off" placeholder="Titre de transport"  class="input advantage" onchange="onSaveAdvantageSnapshot()" />
                    <button type="button" class="deleteBtn" onclick="onDeleteAdvantage(this)">${trashIcon}</button>
                    `
                advantageContainer.appendChild(newAdvantage)
            }
        }
        const getValues = ()=>{

            const exp = document.getElementById("exp")
            const city = document.getElementById("city")
            const description = document.querySelector(".description")
            const weeklyWorkTime = document.getElementById("weeklyWorkTime")
            const salary = document.getElementsByClassName('salary')
            const listOfSKill = document.getElementsByClassName("skill")
            const listOfAdvantage = document.querySelectorAll(".advantage > input")
            const salaryList = []
            const skillNeeded = []
            const advantageList = []
            try{
                for(const prof of listOfSKill){
                    const required = prof.getElementsByTagName("toggle-btn")[0].getAttribute("on") === "true" ? true : false 
                    const label = prof.querySelector(".input").value
                    skillNeeded.push({label, required})
                }
                for(const adv of listOfAdvantage){
                    advantageList.push(adv.value)
                }
            }catch(e){
                console.log(e)
            }
            for(const sal of salary){
                salaryList.push(parseFloat(sal.value))
            }
            localStorage.removeItem("jobSnapshot")
            return {
                salary: salaryList, 
                weeklyWorkTime: parseFloat(weeklyWorkTime.value), 
                skill: skillNeeded, 
                advantage: advantageList,
                description: description.innerText,
                lat: parseFloat(city.dataset.lat),
                long: parseFloat(city.dataset.long),
                exp: parseInt(exp.value)
            }
        }
    </script>
{{end}}
%end

