{{define "Head"}}
    <title>Goland + HTMX by momo</title>
    <script src="/static/JobCard.js" type="module"></script>
    <script src="/static/Dropdown.js" type="module"></script>
{{end}}
%end
{{define "Style"}}

    main{
        container-type: inline-size;
    }
    .section_header{
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }
    .grid{
        display: grid;
        @container (width >= 678px){
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
        @container (width >= 970px){
            grid-template-columns: repeat(3, 1fr);
        }
    }
{{end}}
%end
{{define "Body"}}
    <main>
        <h1 class="section_header">Recomendation</h1>
        
        <div class="grid">
        {{range .Job}}
            <job-card id="{{.Id}}" picture="{{.EntreprisePicture}}"  salary="{{.SalaryString}}" entreprise="{{.EntrepriseName}}" isThirdParty="{{.IsThirdParty}}"  contract="{{.Contract}}" title="{{.Title}}" fulladdr="{{.FullAdresse}}" date="{{.Date}}" fulltime="{{.FulltimeString}}" ></job-card>
        {{end}}
        </div> 
    </main>
{{end}}
%end
