{{define "Head"}}
    <title>{{.Job.Title}}</title>
    <script src="/static/Dropdown.mjs" type="module"></script>
    <script src="/static/ToggleBtn.js" type="module"></script>
    <script src="/static/Calendar.js" type="module"></script>
{{end}}

{{define "Style"}}
    main{
        container-type: inline-size;
        container-name: main_section;
    }
    .newjob > * , .title, .newjob_section > *, #template_save > *{
        margin-bottom: .5rem;
    }
    .title{
        font-size: 1.2rem;
    }
    .template{
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
        align-items: center;
        margin-bottom: .5rem;
    }
    .newjob, #application{
        transition: opacity 500ms , transform 500ms linear(.2, 0.5, 1, .7, 1, .85, 1);
        opacity: 1;
        transform: translateY(0px);
        @starting-style{
            opacity: 0;
            transform: translateY(40px);
        }
    }
    .newjob{
        container-type: inline-size;
        container-name: advantagesAncSKill;
        padding-top: 1rem;
        .bottomContent{
            display: flex;
            gap: 1rem;
            flex-direction: column;
            .newjob_section{
                padding: 5px;
                border-radius: 5px;
                border: 1px solid lightgray;
                width: 100%;
                .newjob_profile{
                    display: grid;
                    gap: .5rem;
                    grid-template-columns: 1fr .2fr .2fr;
                }
                .newjob_profile_deleteBtn{
                    height: 2rem;
                    width: 2rem;
                    border: 1px solid lightgray;
                    justify-self: end;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .toggleBtn{
                    justify-self: center;
                }
            }
        }
        .action{
            display: flex;
            gap: .5rem;
            .newjob_submitBtn, .newjob_templateBtn{
                height: 2rem;
                border-radius: 10px;
                width: 100%;
                font-weight: bold;
            }
        }

        @container advantagesAncSKill (width >= 650px){
            .bottomContent{
                flex-direction: row;
                gap: 2rem;
                .newjob_section{
                    border: none;
                }
            }

        }
    }
    .subheader{
        font-size: 1rem;
    }
    .newjob_field{
        position: relative;
        height: 2.5rem;
        width: 100%;
    }
    .newjob_field_input{
        height: 100%;
        width: 100%;
        padding: 0px 5px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: white;
    }
    .newjob_field_input_withLabel{
        padding: 10px 5px 0px 5px;
    }
    .newjob_field_label{
        position: absolute;
        left: 5px;
        top: .5rem;
        font-size: .9rem;
        transition: all .2s linear;
    }
    .newjob_field_input:focus + .newjob_field_label, .newjob_field_input:valid + .newjob_field_label{
        top: .2rem;
        left: 5px;
        font-size: .7rem;
    }
    .newjob_flex{
        display: flex;
        gap: .5rem;
    }
    .newjob_description{
        border-radius: 5px;
        outline: 1px solid lightgray;
        padding: 5px;
        background-color: white;
        text-wrap: wrap;
    }
    .newjob_advantage{
        display: grid;
        grid-template-columns: 1fr .1fr;
        gap: .5rem;
    }
    .newjob_headerWithButton{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .newjob_addBtn{
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid lightgray;
    }
    .newjob_profile_header{
        font-size: .9rem;
    }
    .newjob_submitBtn{
        border: 1px solid var(--success_border_color);
        color: var(--success_border_color);
    }
    .deleteModalBtn{
        border: 1px solid #c11c30;
        color: #c11c30;
    }
    .newjob_modelBtn{
        border: 1px solid var(--primary_color);
        color: var(--primary_color);
    }
    .newjob_templateBtn{
        border: 2px solid var(--primary_color);
    }

    .header{
        display: grid;
        grid-template-columns: 1fr .5fr;
        gap: .5rem;
        align-items: center;
        padding-block: 1rem;
        border-bottom: 1px solid lightgray;
        .preview{
            .title{
                font-size: 1.1rem;
            }  
        }
        .tab{
            display: flex;
            gap: .5rem;
            .button{
                height: 3rem;
                padding: 0 .5rem;
                border-radius: 5px;
                background-color: rgb(220,220,220);
            }
            .selected{
                background: rgb(240,240,240);
                background: radial-gradient(circle, rgba(240,240,240,1) 25%, rgba(112,112,112,1) 100%);
                background-position: 50% -28%;
                background-size: 100% 250%;
                animation: tabAnimation .2s linear forwards; 
            }
        }
    }
    @keyframes tabAnimation{
        100%{
            background-position: 50% 0%;
        }
    }

    #create-interview{
        padding: 10px;
        overflow: visible;
        border-radius: 10px;
        margin: auto;
        border: none;
        transition: all 150ms linear, display 150ms linear allow-discrete, overlay 150ms linear allow-discrete;
        opacity: 0;
        transform: translateY(100px);
        &:popover-open{
            transition: all 150ms linear;
            opacity: 1;
            transform: translateY(0px);
            @starting-style{
                opacity: 0;
                transform: translateY(100px);
            }
        }
        .create-interview-title{
            font-size: 1.1rem;
            text-align: center;
            margin-bottom: .5rem;
        }
        .create-interview-btn{
            display: flex;
            justify-content: space-between;
            margin-top: .5rem;
            .create-interview-btn-button{
                padding: .5rem 1rem;
                border-radius: 5px;
                font-weight: bold;
            }
            .create-interview-btn-submit{
                color: var(--success_border_color);
                border: 1px solid var(--success_border_color);
            }
            .create-interview-btn-delete{
                color: var(--delete_color);
                border:1px solid var(--delete_color);
            }
        }
    }
    #delete_modal, #template_save{
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        margin: auto;
        transition: scale .2s linear, display .2s linear allow-discrete;
        border: none;
        scale: 0;
        &::backdrop{
            background-color: rgba(0,0,0,.6);
        }
        &:popover-open{
            transition: scale .2s linear;
            scale: 1;
            @starting-style{
                scale: 0;
            }
        }
        .title{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .action{
            display: flex;
            gap: .5rem;
            .deleteBtn, .cancelBtn{
                height: 2rem;
                border-radius: 5px;
                width: 100%;
                font-weight: bold;
            }
            .deleteBtn{
                border: 1px solid #c11c30;
                color: #c11c30;
            }
            .cancelBtn{
                border: 1px solid #e39048;
                color: #ff6d35;
            }
        }
    }

    #application{
        margin-top: 1rem;
        @container main_section (width >= 950px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
        .section{
            .inner{
                border-radius: 5px;
                margin-bottom: 1rem;
                .card{
                    margin-block: 1rem;
                    border: 1px solid lightgray;
                    padding-inline: .5rem;
                    transition: opacity 1000ms linear;
                    background-color: white;
                    .photo{
                        height: 4rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                    }
                    .content{
                        display: flex;
                        align-items: center;
                        margin-block: 1rem;
                        gap: .5rem;
                        .info{
                            width: 100%;
                            .name{
                                font-size: 1rem;
                                margin-bottom: 3px;
                            }
                            .metadata{
                                color: #4b4b4b;
                                margin-bottom: 3px;
                            }
                            .info-step{
                                display: flex;
                                justify-content: space-between;
                                .info-step-btn{
                                   font-weight: bold;
                                   place-self: flex-start;
                                   border-radius: 5px;
                                   padding: .5lh;
                                   color: white;
                                }
                                .cvBtn{
                                   color: black;
                                   border: 1px solid black;
                                }
                                .interviewBtn{
                                    background-color: black;
                                }
                            }
                        }
                    }
                    .footer{
                        border-top: 1px solid lightgray;
                        padding-block: 1rem;
                        display: flex;
                        justify-content: space-between;
                        .actionBtn{
                            padding: .5lh 1lh;
                            border-radius: 5px;
                            font-weight: bold;
                        }
                        .deleteBtn{
                            color: var(--delete_color);
                            border: 1px solid var(--delete_color);
                        }
                        .laterBtn{
                            color: var(--primary_color);
                            border: 1px solid var(--primary_color);
                        }
                    }
                }
            }
            &[open]{
                .application_header::after{
                    bottom: -7px;
                }
            }
            .application_header{
                position: relative;
                list-style: none;
                text-align: center;
                font-size: 1.2rem;
                font-weight: bold;
                border: 1px solid lightgray;
                margin-bottom: 1rem;
                border-radius: 5px;
                padding-block: 1rem;
                background-color: white;
                &::after{
                    content: "";
                    position: absolute;
                    height: 0px;
                    width: 0px;
                    bottom: 7px;
                    left: calc(50% - 2.5px);
                    border: 7px solid transparent ;
                    border-bottom: 7px solid darkgray;
                    border-right: 7px solid darkgray;
                    z-index: -1;
                    transition: bottom 150ms linear;
                    rotate: 45deg;
                    border-bottom-right-radius: 3px;
                    
                }
            }
        }
    }
    

    .interviewModal{
        background: white;
        border-radius: 10px;
        border: none;
        margin: auto;
        padding: 10px;
        width: 350px;
        overflow: visible;
        .interview-input{
            height: 2rem;
            padding-inline: 5px;
            border-radius: 5px;
            border: 1px solid lightgray;
            margin-bottom: .5rem;
            display: block;
            width: 100%;
        }
        .input-label{
            margin-bottom: .3rem;
            display: inline-block;
        }
        .interviewModal-location-suggest{
            position: absolute;
            left: 0;
            top: 3.5lh;
            width: 100%;
            box-shadow: 0 0 5px 2px darkgray;
            background: white;
            border-radius: 5px;
            .interviewModal-location-item{
                padding: .5lh 5px;
            }
        }
        .interview-buttons{
            display: flex;
            justify-content: space-between;
            .interview-btn{
                padding: .4rem 1rem;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-outline {
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
}

.btn-outline:hover {
    background-color: #f0f0f0;
}

{{end}}

{{define "Body"}}
        {{$InterviewType := .InterviewType}}
        <div class="header">
            <div class="preview">
                <h1 class="title">{{.Job.Title}}</h1>
                <p>{{slice .Job.Postal 0 2}} - {{.Job.City}}</p>
            </div>
            <div class="tab">
                <button type="button" class="button selected" onclick="onChangeScene(this, 'offert')">Annonce</button>
                <button type="button" class="button" onclick="onChangeScene(this, 'application')">Candidates</button>
            </div>
        </div>
        <form class="newjob" id="offert" hx-patch="/job/{{.Job.Id}}" hx-ext="json-enc" hx-vals='js:{...getJobValues()}'  hx-swap="none">
            <div class="newjob_field">
                <input type="text" autocomplete="off"  required id="title" value="{{.Job.Title}}"  name="title" class="newjob_field_input newjob_field_input_withLabel" />
                <label for="title" class="newjob_field_label">Titre</label>
            </div>
            <div class="newjob_flex">
                <div class="newjob_field" style="flex: 1;">
                    <input type="text" autocomplete="off" value="{{.Job.City}}" placeholder="Paris" id="city"  name="city" class="newjob_field_input newjob_field_input_withLabel" />
                    <label for="adresse" class="newjob_field_label">Departement</label>
                </div>
                <div class="newjob_field" style="flex: .7;">
                    <input type="text" autocomplete="off" value="{{.Job.Postal}}"  placeholder="75001" id="postal" name="postal" class="newjob_field_input newjob_field_input_withLabel" />
                    <label for="adresse" class="newjob_field_label">Postal</label>
                </div>
            </div>
            <h2 class="subheader">Salaire</h2>
            <div class="newjob_flex">
                <div class="newjob_field">
                    <input type="number" placeholder="1500" value="{{index .Job.Salary 0}}"  id="minSalary" name="salary" class="newjob_field_input newjob_field_input_withLabel salary" />
                    <label for="minSalary" class="newjob_field_label">Min</label>
                </div>
                <div class="newjob_field">
                    <input type="number" placeholder="2000" id="maxSalary" value="{{index .Job.Salary 1}}" name="salary" class="newjob_field_input newjob_field_input_withLabel salary" />
                    <label for="maxSalary" class="newjob_field_label">Max</label>
                </div>
            </div>
            <h2 class="subheader">Contrat</h2>
            <div class="newjob_flex">
                <dropdown-ele id="contract" value="{{.Job.Contract}}" items="{{.Job.ContractArray}}"></dropdown-ele>
                <div class="newjob_field">
                    <input type="number" value="{{.Job.WeeklyWorkTime}}" placeholder="35" id="weeklyWorkTime" name="weeklyWorkTime" class="newjob_field_input newjob_field_input_withLabel" />
                    <label for="weeklyWorkTime" class="newjob_field_label">Heures</label>
                </div>
                <div class="newjob_field">
                    <input type="date"  id="startTime" name="startTime" class="newjob_field_input newjob_field_input_withLabel" />
                    <label for="startTime" class="newjob_field_label">Debut</label>
                </div>
            </div>
            <h2 class="subheader">Description</h2>
            <pre class="newjob_description"  contenteditable="true">{{.Job.Description}}</pre>
            <div class="bottomContent">
                <div class="newjob_section" id="advantage">
                    <div class="newjob_headerWithButton">
                        <h2 class="subheader">Avantages</h2>
                        <button type="button" class="newjob_addBtn" onclick="onNewAdvantage()">
                            <svg
                                width="63.999996"
                                height="63.999996"
                                style="width: 60%;height: 60%;"
                                viewbox="0 0 16.933332 16.933332">
                                <g
                                    transform="translate(-49.871622,-101.59117)">
                                <rect
                                    style="fill:#000000;stroke-width:0.0701647"
                                    id="rect113"
                                    width="2.6458337"
                                    height="15.875"
                                    x="108.73493"
                                    y="-66.275787"
                                    ry="1.3229169"
                                    transform="rotate(90)" />
                                <rect
                                    style="fill:#000000;stroke-width:0.0701647"
                                    id="rect273"
                                    width="2.6458337"
                                    height="15.875"
                                    x="57.015373"
                                    y="102.12034"
                                    ry="1.3229169" />
                                </g>
                            </svg>
                        </button>
                    </div>
                    {{range .Job.Advantage}}
                        <div class="newjob_advantage">
                            <input type="text" autocomplete="off" value="{{.}}" placeholder="Titre de transport" class="newjob_field_input advantage" />
                            <button type="button" class="newjob_profile_deleteBtn" onclick="onDeleteProfileOrAdvantage(this)"><img src="/static/close.svg" style="width: 60%;height: 60%;"  /></button>
                        </div>
                     {{end}}
                </div>
                <div class="newjob_section" id="profile"> 
                    <div class="newjob_headerWithButton">
                        <h2 class="subheader">Compétances</h2>
                        <button type="button" class="newjob_addBtn" onclick="onNewProfil(this)">
                            <svg
                                width="63.999996"
                                height="63.999996"
                                style="width: 60%;height: 60%;"
                                viewbox="0 0 16.933332 16.933332">
                                <g
                                    transform="translate(-49.871622,-101.59117)">
                                <rect
                                    style="fill:#000000;stroke-width:0.0701647"
                                    id="rect113"
                                    width="2.6458337"
                                    height="15.875"
                                    x="108.73493"
                                    y="-66.275787"
                                    ry="1.3229169"
                                    transform="rotate(90)" />
                                <rect
                                    style="fill:#000000;stroke-width:0.0701647"
                                    id="rect273"
                                    width="2.6458337"
                                    height="15.875"
                                    x="57.015373"
                                    y="102.12034"
                                    ry="1.3229169" />
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="newjob_profile">
                        <h3 class="newjob_profile_header">Titre</h3>
                        <h3 class="newjob_profile_header">Obligatoire</h3>
                        <h3></h3>
                    </div>
                    {{range .Job.SkillNeeded}}
                        <div class="newjob_profile content">
                            <input type="text" autocomplete="off" value="{{.Label}}"  placeholder="experience 2 ans"  class="newjob_field_input" />
                            <toggle-btn class="toggleBtn" on="{{if .Required}}true{{else}}false{{end}}"></toggle-btn>
                        <button type="button" class="newjob_profile_deleteBtn" onclick="onDeleteProfileOrAdvantage(this)"><img src="/static/close.svg" style="width: 60%;height: 60%;" /></button>
                        </div>
                    {{end}}
                </div>
            </div>
            <div class="action">
                <button type="button" popovertarget="delete_modal" class="newjob_submitBtn deleteModalBtn">Supprimer</button>
                <button type="button" popovertarget="template_save" class="newjob_submitBtn newjob_modelBtn">Modele</button>
                <button type="submit" class="newjob_submitBtn" >Modifier</button>
            </div>
        </form>
        <div id="delete_modal" popover>
            <h1 class="title">Voulez-vous supprimer l'annonce?</h1>
            <div class="action">
                <button type="button" class="cancelBtn" popovertarget="delete_modal" popovertargetaction="hide">Cancel</button>
                <button type="button" class="deleteBtn" hx-delete="/job/{{.Job.Id}}" onclick="onDeleteOffert(this)" hx-swap="none">Supprimer</button>
            </div>
        </div>
        <form hx-put="/job/{{.Job.Id}}" hx-swap="none" id="template_save" popover> <h1 style="text-align: center;font-size: 1.2rem;">Enregistrer ce modele</h1>
            <input type="text" placeholder="CDD Compable H/F" name="tname" autocomplete="off" class="template_save_input"/>
            <button type="submit" class="template_save_btn" onclick="onSaveTemplate(this)">Enregistrer</button>
        </form>
        <div id="application" class="hidden">
            <details class="section" name="candidate">
                <summary class="application_header">Candidates</summary>
                <div class="inner">
                    {{range .Candidate}}
                    <div class="card">
                        <div class="content">
                            <div>
                                <img src="/static/profile-picture.jpeg" class="photo" />
                            </div>
                            <div class="info">
                                <h1 class="name">{{.Name}}</h1>
                                <p class="metadata">{{.Adresse}}</p>
                                <p class="metadata">{{.Gender}}, {{.Age}}</p>
                                <div class="info-step">
                                    <a href="/job/{{.JobId}}/cv/{{.UserId}}" target="_blank" class="info-step-btn cvBtn">Voir CV</a>
                                    <button type="button" onclick="onOpenCreateInterview(this)" class="info-step-btn interviewBtn">Creer interview</button>
                                </div>
                            </div>
                        </div>
                        <div class="footer" >
                            <button type="button" class="actionBtn deleteBtn"  hx-put="/job/{{.JobId}}/cv/{{.UserId}}" hx-vals='{"id": "{{.Id}}", "status": "Reject"}' hx-swap="delete" hx-target="closest .card">Supprimer</button>
                            <button type="button" class="actionBtn laterBtn" hx-put="/job/{{.JobId}}/cv/{{.UserId}}" hx-vals='{"id": "{{.Id}}", "status": "A revoir"}' hx-swap="delete" hx-target="closest .card">A revoir</button>
                        </div>
                        <dialog class="interviewModal">
                            <h1 style="margin-bottom: .5rem;text-align: center;">Creer Interview</h1>
                            <form hx-put="/job/{{.JobId}}/cv/{{.UserId}}" hx-vals='{"id": "{{.Id}}", "status": "Interview"}' 
                                hx-swap="delete" hx-target="closest .card" >
                                <div style="display: flex;justify-content: space-between;gap: .5rem;">
                                    <div>
                                        <b class="input-label">Date</b>
                                        <input type="datetime-local" name="interview_date" class="interview-input" />
                                    </div>
                                    <div>
                                        <b class="input-label">Type</b>
                                        <select name="type" class="interview-input">
                                            {{range $InterviewType}}
                                                <option value="{{.}}">{{.}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="interviewModal-location hidden" style="position: relative;">
                                    <b class="input-label">Location</b>
                                    <input type="text" autocomplete="off" name="location" class="interview-input" oninput="onFetchAddr(this)"/>
                                    <div class="interviewModal-location-suggest hidden"></div>
                                </div>
                                <div class="interview-buttons">
                                    <button type="button" class="interview-btn" onclick="onCloseCreateInterview(this)">Cancel</button>
                                    <button type="submit" class="interview-btn">Creer</button>
                                </div>
                            </form>
                        </dialog>
                    </div>
                    {{end}}
                </div>
            </details>
            <details class="section" name="candidate">
                <summary class="application_header">A revoir</summary>
                <div class="inner">
                    {{range .Interview}}
                    <div class="card">
                        <div class="content">
                            <img src="/static/profile-picture.jpeg" class="photo" />
                            <div class="info">
                                <div>
                                    <h1 class="name">{{.Name}}</h1>
                                    <p class="metadata">{{.Adresse}}</p>
                                    <p class="metadata">{{.Gender}}, {{.Age}}</p>
                                </div>
                                <div class="info-step">
                                    <a href="/job/{{.JobId}}/cv/{{.UserId}}" target="_blank" class="info-step-btn cvBtn">Voir CV</a>
                                    <button type="button" onclick="onOpenCreateInterview(this)" class="info-step-btn interviewBtn">Creer interview</button>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="justify-content: flex-end;">
                            <button type="button" class="actionBtn deleteBtn" hx-put="/job/{{.JobId}}/cv/{{.UserId}}" hx-vals='{"id": "{{.Id}}", "status": "Reject"}' hx-swap="delete" hx-target="closest .card">Supprimer</button>
                        </div>
                        <dialog class="interviewModal">
                            <h1 style="margin-bottom: .5rem;text-align: center;">Creer Interview</h1>
                            <form hx-put="/job/{{.JobId}}/cv/{{.UserId}}" hx-vals='{"id": "{{.Id}}", "status": "Interview"}' 
                                hx-swap="delete" hx-target="closest .card" >
                                <div style="display: flex;justify-content: space-between;gap: .5rem;">
                                    <div>
                                        <b class="input-label">Date</b>
                                        <input type="datetime-local" name="interview_date" class="interview-input" />
                                    </div>
                                    <div>
                                        <b class="input-label">Type</b>
                                        <select name="type" class="interview-input">
                                            {{range $InterviewType}}
                                                <option value="{{.}}">{{.}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="interviewModal-location hidden" style="position: relative;">
                                    <b class="input-label">Location</b>
                                    <input type="text" autocomplete="off" name="location" class="interview-input" oninput="onFetchAddr(this)"/>
                                    <div class="interviewModal-location-suggest hidden"></div>
                                </div>
                                <div class="interview-buttons">
                                    <button type="button" class="interview-btn" onclick="onCloseCreateInterview(this)">Cancel</button>
                                    <button type="submit" class="interview-btn">Creer</button>
                                </div>
                            </form>
                        </dialog>
                    </div>
                    {{end}}
                </div>
            </details>
        </div>
    <script>

        let fetchTimer
        const onCloseCreateInterview = (ele)=>{
            const modal =  ele.closest(".interviewModal")
            modal.close()
        }
        const onOpenCreateInterview = (ele)=>{
            const card =  ele.closest(".card")
            const modal = card.querySelector(".interviewModal")
            modal.showModal()
        }

        const dropdown = document.querySelectorAll("[name='type']")
        for (const drop of dropdown){
            drop.addEventListener("change", function(e){
                const location = drop.closest(".interviewModal").querySelector(".interviewModal-location")
                if (drop.value === "En personne"){
                    location.classList.remove("hidden")
                }else{
                    location.classList.add("hidden")
                }
            })
        }

        const onSelectAdresse = (adresseElement)=>{
            const modal = adresseElement.closest(".interviewModal-location")
            const input = modal.querySelector(".interview-input")
            input.value = `${adresseElement.textContent}`
            adresseElement.parentElement.classList.add("hidden")
        }

        const onFetchAddr = (ele)=>{
            const modal = ele.closest(".interviewModal-location")
            const input = modal.querySelector(".interview-input")
            const suggest = modal.querySelector(".interviewModal-location-suggest")
            fetchAdresseHtml = ""
            if (fetchTimer) clearTimeout(fetchTimer)
            fetchTimer = setTimeout(async ()=>{
                try{
                    const fetchAddr = await fetch(`https://api-adresse.data.gouv.fr/search/?q=${ele.value}&limit=5`)
                    const result = await fetchAddr.json()
                    for(const adr of result.features){
                        fetchAdresseHtml += `<p class="interviewModal-location-item" onclick="onSelectAdresse(this)">${adr.properties.name}, ${adr.properties.postcode}</p>` 
                    }
                    suggest.innerHTML = fetchAdresseHtml
                    suggest.classList.remove("hidden")
                    if(result.features.length > 0){
                        const firstELement = result.features[0]
                        input.value = `${firstELement.properties.name}, ${firstELement.properties.postcode}`
                    }
                }catch(err){}
            }, 500)
        }

        const getDateValue = (name)=>{
            const calendar = document.getElementById(name)
            const input = calendar.shadowRoot.querySelector(".date-input")
            return input.value
        }

        //<div style="display: flex;gap: .5rem;">
        //    <button type="button" style="border: 1px solid red;color: red;" class="deleteBtn"
        //        hx-delete="/job/2" hx-swap="delete" hx-target="closest .application_card">Effacer</button>

        //    <button type="button" class="actionBtn">Schedule interview</button>
        //</div>
        // <a href="/job/JobId/cv/UserId"" class="application_card_view"><img src="/static/eye.svg" style="width: 80%;height: 80%;" /></a>
        const description = document.querySelector(".newjob_description")
        const contract = document.getElementById("contract") 
        const workTime = document.getElementById("weeklyWorkTime")
        const offert = document.getElementById("offert")
        const applications = document.getElementById("application")
        const tabs = document.getElementsByClassName("button")
        const salary = document.getElementsByClassName('salary')

        const onDeleteOffert = (ele)=>{
            ele.closest("#delete_modal").hidePopover()
        }

        const onChangeScene = (ele, scene)=>{
            for(const tab of tabs){
                tab.classList.remove("selected")
            }
            ele.classList.add("selected")
            if(scene === "offert"){
                offert.classList.remove("hidden")
                applications.classList.add("hidden")
            }else{
                offert.classList.add("hidden")
                applications.classList.remove("hidden")
            }
        }
        // Edit Javascript
        const onSaveTemplate = (ele)=>{
            ele.parentElement.hidePopover()
        }

        const profileContainer = document.getElementById("profile")
        const advantageContainer = document.getElementById("advantage")
        const onNewProfil = ()=>{
            const newProfile = document.createElement("div")
            newProfile.classList.add("newjob_profile", "content")
            newProfile.innerHTML = `
                <input type="text" autocomplete="off"  placeholder="Experience 2 ans"  class="newjob_field_input" />
                <toggle-btn on="false" class="toggleBtn"></toggle-btn>
                <button type="button" onclick="onDeleteProfileOrAdvantage(this)"  class="newjob_profile_deleteBtn">
                    <svg
                        width="63.999996"
                        height="63.999996"
                        style="width: 60%;height: 60%;"
                        viewBox="0 0 16.933332 16.933332">
                        <g
                            transform="translate(-51.903267,-103.62282)">
                            <rect
                                style="fill:#000000;stroke-width:0.0928013"
                                width="3.4994376"
                                height="20.996624"
                                x="120.19751"
                                y="26.072937"
                                ry="1.7497188"
                                transform="rotate(45)" />
                            <rect
                                style="fill:#000000;stroke-width:0.0928013"
                                id="rect273"
                                width="3.4994376"
                                height="20.996624"
                                x="-38.320965"
                                y="111.44891"
                                ry="1.7497188"
                                transform="rotate(-45)" />
                        </g>
                    </svg>
                </button>
            `
            profileContainer.appendChild(newProfile)
        }

        const onDeleteProfileOrAdvantage = (ele)=>{
            ele.parentElement.remove()
        }


        const onNewAdvantage = ()=>{
            const newAdvantage = document.createElement("div")
            newAdvantage.classList.add("newjob_advantage")
            newAdvantage.innerHTML = `
                <input type="text" autocomplete="off" placeholder="Titre de transport"  class="newjob_field_input advantage" />
                <button type="button" class="newjob_profile_deleteBtn" onclick="onDeleteProfileOrAdvantage(this)"><img src="/static/close.svg" style="width: 60%;height: 60%;" /></button>
            `
            advantageContainer.appendChild(newAdvantage)
        }

        const getJobValues = ()=>{
            const profilWanted = []
            const advantageList = []
            const salaryList = []
            const contractValue = contract.shadowRoot.querySelector(".dropdown-input")
            const profilNeeded = document.getElementsByClassName("content")
            const advantage = document.getElementsByClassName("advantage")

            for(const profil of profilNeeded){
                const titre = profil.querySelector(".newjob_field_input")
                const required = profil.getElementsByTagName("toggle-btn")[0]
                profilWanted.push({label: titre.value, required: required.getAttribute("on") === "true" ? true : false})
            }
            for(const adv of advantage){
                advantageList.push(adv.value)
            }
            for(const sal of salary){
                salaryList.push(parseFloat(sal.value))
            }
            return {
                contract: contractValue.value,
                salary: salaryList,
                description: description.innerText, 
                weeklyWorkTime: parseFloat(weeklyWorkTime.value),
                skill: profilWanted,
                advantage: advantageList
            }
            
        }
    </script>
{{end}}
