<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/Notification.js" type="module"></script>
    <script src="/static/htmx.js" defer></script>
    <link rel="stylesheet" href="/static/globals.css" />
    {{template "Head" .}}
    <style id="style">
        {{template "Style"}}
    </style>
</head>
<body>
    <notification-ele type="error" msg="Hello World" id="notif" hx-swap-oob="true"></notification-ele>
    <nav>
        <div class="nav_blur"></div>
        <div class="nav_content">
            <a href="/" class="nav_home">Home</a>
        </div>
    </nav>
    <main>
        {{template "Body" .}}
    </main>
</body>
</html>
